@use "./resets";
@use "./breakpoints" as *;
@use "./typograph" as *;
@use "./mixins" as *;
@use "./variable" as *;

.about {
  width: 100%;
  @include desktop {
    margin: 0 auto;
    max-width: 1280px;
  }

  &__title {
    padding: 1.5rem 1rem 1rem 1rem;
    @include section-header;
    margin: 0;
    font-weight: 600;
    color: $primarycolor-1;
    @include tablet {
      padding: 3rem 2.25rem 2.25rem 2.25rem;
      @include setion-header-tab-desktop;
    }
    @include desktop {
      padding: 3rem 2.25rem 2.25rem 5.93rem;
    
    }
   
  }

  &__image {
    width: 90%;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    @include tablet {
      width: 72.6%;
      padding: 0 2.25rem 2.25rem 5.7rem;
    }
    @include desktop {
      width: 70.65%;
      padding: 0 0 2.25rem 10.5rem;
    }
  }
  &__quote {
    @include subheader;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    font-weight: 600;
    color: $primarycolor-1;
    @include tablet {
      width: 76%;
      padding: 0 2.25rem 2.25rem 5.7rem;
      @include subheader-tab-desktop;
    }
    @include desktop {
      width: 50%;
      padding: 0 0 1.25rem 10.5rem;
    }
  }
  &__author {
    @include subheader;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    font-weight: 600;
    color: $primarycolor-1;
    @include tablet {
      width: 80%;
      padding: 0rem 2.25rem 2.25rem 5.7rem;
      @include subheader-tab-desktop;
    }
    @include desktop {
      width: 56%;
      padding: 0 0 1.25rem 10.5rem;
    }
  }

  &__name {
    @include subheader;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
    font-weight: 600;
    color: $primarycolor-1;
    @include tablet {
      width: 80%;
      padding: 0rem 2.25rem 2.25rem 5.7rem;
      @include subheader-tab-desktop;
    }
    @include desktop {
      width: 56%;
      padding: 0 0 1.25rem 10.5rem;
    }
  }
  &__container {
    @include tablet {
      display: flex;
      gap: 2.7rem;
      padding-left: 4.7rem;

    }
    @include desktop {
      
      padding-left: 8rem;

    }
  }

  &__container--text {
    @include bodycopy;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
  
    color: $primarycolor-1;
    @include tablet {
      width: 35.54%;
      padding-bottom:2.25rem;
      @include bodycopy-tab-desktop;
    }

    @include desktop {
      width: 36.2%;
      padding: 0 0 2.25rem 2.4rem;
      
    }
  }
}



