@use "./variable" as *;
@use "./resets";
@use "./breakpoints" as *;
@use "./typograph" as *;
@use "./mixins" as *;

.footer {
  background-color: $primarycolor-1;
  width: 100%;
  color: $secondarycolor-3;
  @include footercopy;
 

  @include tablet {
    @include footercopy-tab-desktop;
  }
  &__header {
    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3rem 2.25rem 2.25rem 2.25rem;
    }
    @include desktop {
      padding: 3rem 2.25rem 2.25rem 5.93rem;
      margin: 0 auto;
    max-width: 1280px;
    }
  }
  &__title {
    @include section-header;
    font-weight: 600;
    color: $secondarycolor-3;
    padding: 1.5rem 1rem 1rem 1rem;
    margin: 0rem;
    @include tablet {
      padding: 0;
      @include setion-header-tab-desktop;
    }
  }
  &__socials {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 7.5rem;
    width: 30%;
    @include tablet {
      width: 17%;
      padding: 0 10rem 0 0;
      height: 1.5rem;
    }
    @include desktop {
      width: 12%;
      padding: 0 0 0 2rem;
    }
  }

  &__social-icon {
    img {
      height: 1.5rem;
      @include tablet {
        height: 1.5rem;
      }
    }
  }
  &__header-img--tab {
    display: none;
    @include tablet {
      display: flex;
      height: 1.25rem;
    }
  }

  &__header-img {
    @include tablet {
      padding: 0;
      height: 1.5rem;
    }
    @include desktop {
      padding: 2.7rem 0 1.5rem 39.2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 2.25rem 0 2.25rem;
    }
    @include desktop {
      width: 53%;
      padding: 0 26rem 0 0rem;
      margin: 0 auto;
      max-width: 1280px;;
    }
  }

  &__card {
    padding-bottom: 1rem;
    @include tablet {
      padding-bottom: 2.25rem;
    }
  }

  &__card--agent {
   
    padding-bottom: 1rem;
    @include tablet {
      padding-bottom: 2.25rem;
    }
  }

  &__card--agent-name {
    font-weight: 600;
    margin: 0;
  }

  &__card--agent-company {
    font-weight: 600;
    margin: 0;
  }

  &__card--location {
    font-weight: 400;
    padding-bottom: 1rem;
    @include tablet {
      padding-bottom: 2.25rem;
    }
  }

  &__card--location-address {
    margin: 0;
  }

  &__card--email {
    padding-bottom: 1rem;
    @include tablet {
      padding-bottom: 2.25rem;
    }
  }

  &__card--email-link {
    font-weight: 400;
    text-decoration: none;
    color: $secondarycolor-3;
  }

  &__logo-img {
    height: 1.25rem;

    @include tablet {
      display: none;
    }
  }

  &__logo-img--mobile {
    padding: 1.5rem 1rem 1rem 1rem;

    @include tablet {
      display: none;
    }
  }

  &__copyright {
    padding: 0 1rem 1rem 1rem;
    font-weight: 400;
    margin: 0;
    @include tablet {
      padding: 0 2.25rem 2.25rem 2.25rem;
    }
    @include desktop {
      padding: 0 2.25rem 2.25rem 5.93rem;
      margin: 0 auto;
    max-width: 1280px;
    }
  }
}


