@use "./resets";
@use "./breakpoints" as *;
@use "./typograph" as *;
@use "./mixins" as *;
@use "./variable" as *;

.gallery {
  width: 100%;
  background-color: $secondarycolor-3;
  @include tablet {
   
  }
  @include desktop {
    padding: 0 3.9375rem;
  }
  &__title {
    padding: 1.5rem 1rem 1rem 1rem;
    margin: 0;
    @include section-header;
    font-family: AvenirDemi;
    color: $primarycolor-1;
    @include tablet {
      padding: 3rem 2.25rem 2.25rem 2.25rem;
      @include setion-header-tab-desktop;
    }
    @include desktop {
      padding:3rem 2.25rem 2.25rem 2.25rem;
    }
  }
  &__photos {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0 0 0 2.25rem;
      width: 95%;
      justify-content: space-between;
    }
  }
  &__photos--item {
    padding: 0 1rem 1rem 1rem;
    @include tablet {
      padding: 0 2.25rem 2.25rem 0;
      width: 27.6%;
    }
    @include desktop {
      padding: 0 2.25rem 2.25rem 0;
      width: 29.6%;
    }
  }
}
