@use "./variable" as *;
@use "./typograph" as *;
@use "./mixins" as *;

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bandsite-black;
  width: 100%;
padding: 0 1rem;

  @include tablet {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    align-items: center;
    width: 100%;
   padding: 0 2.25rem;
  }

  @include desktop {
    padding: 0 5.25rem;
  }

  &__logo {
    height: 1.25rem;
    width: 7.5rem;
    padding: 1rem 0;
    flex: 1;
    @include tablet {
      padding: 3rem 2.25rem 2.25rem;
      flex:0;
    }
  }
 

 
  &__menu {
    display: flex;
    align-items: center;
    gap: 5rem;
    text-align: center;
    list-style: none;
     height: 100%;
    text-align: center;
    color: $white;
   
     
    
    @include tablet {
      display: block;
    }
    &--item {
      
      @include tablet {
        width: fit-content;
        margin: 0 1.5rem;
        
        
        
      }
    }
  }
}
.active {
  border-bottom: 4px solid white;
  text-decoration: none;
  color: $white;
  padding-bottom: 1rem;
  text-align: center; 
  
  @include tablet {
    padding-bottom: 2.4rem;
   
  }
}
.inactive {
  text-decoration: none;
  color: $mercury;
  padding-bottom: 1rem;
  border-bottom: 4px solid none;
  transition: border 0.2s ease-out;
  &:hover {
    border-bottom: 4px solid white;
  }
  @include tablet {
    padding-bottom: 2.4rem;
   
  }
}

.header-container__navlinks {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: AvenirDemi;

  &--anchor {
    font-size: 1rem;
    border-bottom: 5px solid $bandsite-black;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: $mercury;
    text-decoration: none;
  }

  &--anchor:hover {
    border-bottom: 4px solid $white;
    width: 50%;
    display: flex;
    justify-content: center;
  }
}






.current {
  color: $white;
  border-bottom: 4px solid $white;
  width: 50%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  @include tablet {
    width: 7%;
  }
}

.shows {
  @include tablet {
    padding: 1rem 23rem 0rem 0rem;
    width: 7%;
  }
}
