@use "./variable" as *;
@use "./resets";
@use "./breakpoints" as *;
@use "./typograph" as *;
@use "./mixins" as *;
.navbar {
  display: flex;
  flex-direction: column;
  background: $primarycolor-1;
  color: $primarycolor-3;
  padding: 1rem 0 0 0;

  @include tablet {
    padding: 1.5rem 0 0 1.5rem;
    flex-direction: row;
  }
  @include desktop {
    padding: 1.5rem 0 0 5.93rem;
  }

  &__container-1 {
    display: flex;
    justify-content: center;
    @include tablet {
      margin-right: 4rem;
    }
    @include desktop {
      margin-right: 2rem;
    }
  }
  &__container-2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    @include tablet {
      width: 20%;
    }
  }
  &__button-container {
    width: 50%;

    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 32%;
    }
  }
  &__bio {
    border-bottom: 3px solid $primarycolor-3;
  }

  &__show {
    color: $secondarycolor-2;
    @include tablet {
      padding-left: 3rem;
    }
    @include desktop {
      padding-left: 2rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 1rem;
    @include tablet {
      margin: 0.8rem 0;
      padding-inline-start: 0rem;
      justify-content: flex-start;
    }
  }
  &__image {
    height: 2rem;
    width: 7rem;
    padding-top: 1rem;
    @include tablet {
      padding-top: 0.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__list-item {
    list-style: none;
  }

  &__links-bio {
    text-decoration: none;
    color: $primarycolor-3;
  }
  &__links-show {
    text-decoration: none;
    color: $secondarycolor-2;
  }
}
