@use "./typograph" as *;
@use "./mixins" as *;
@use "./variable" as *;

.hero {
  background-image: linear-gradient(
      to top,
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 17.5rem;
  display: flex;
  align-items: center;
  
  @include tablet {
   
    height: 29.375rem;
  }
  @include desktop {
    @include desktop {
      height: 75vh;
    }
  }

  &__title {
    @include section-header;
    font-family: AvenirDemi;
    color: $primarycolor-3;
    padding: 0 1rem;
    @include tablet {
      padding: 0 2.25rem;
      @include page-header-tab-desktop;
    }
   
  }
}
