body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirBold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirDemi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNormal";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
.navbar {
  display: flex;
  flex-direction: column;
  background: #323232;
  color: #ffffff;
  padding: 1rem 0 0 0;
  width: 110%;
  font-family: AvenirNormal;
}
@media screen and (min-width: 48rem) {
  .navbar {
    width: 106.3%;
    padding: 1.5rem 0 0 1.5rem;
    flex-direction: row;
  }
}
@media screen and (min-width: 80rem) {
  .navbar {
    width: 107.95%;
  }
}
.navbar__container-1 {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 48rem) {
  .navbar__container-1 {
    margin-right: 4rem;
  }
}
.navbar__container-2 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .navbar__container-2 {
    width: 20%;
  }
}
.navbar__button-container {
  width: 50%;
}
@media screen and (min-width: 48rem) {
  .navbar__button-container {
    width: 28%;
  }
}
.navbar__bio {
  border-bottom: 3px solid #ffffff;
}
.navbar__show {
  color: #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .navbar__show {
    padding-left: 3rem;
  }
}
.navbar__show:hover {
  border-bottom: 3px solid #ffffff;
}
.navbar__list {
  display: flex;
  justify-content: space-around;
  padding: 0 0 0 1rem;
}
@media screen and (min-width: 48rem) {
  .navbar__list {
    padding-inline-start: 0rem;
    justify-content: flex-start;
  }
}
.navbar__image {
  height: 2rem;
  width: 7rem;
  padding-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .navbar__image {
    padding-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
}
.navbar__list-item {
  list-style: none;
}
.navbar__links-bio {
  text-decoration: none;
  color: #ffffff;
}
.navbar__links-show {
  text-decoration: none;
  color: #e1e1e1;
}

.hero {
  background-image: linear-gradient(to top, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 17.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .hero {
    padding: 0 2.25rem 0 2.25rem;
    height: 29.375rem;
  }
}
@media screen and (min-width: 80rem) and (min-width: 80rem) {
  .hero {
    height: 75vh;
    padding: 0 3.9375rem;
  }
}
.hero__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirDemi;
  color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

.about {
  padding: 0 1rem;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .about {
    padding: 0 2.25rem;
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .about {
    padding: 0 3.9375rem;
  }
}
.about__title {
  padding: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  font-family: AvenirDemi;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .about__title {
    padding: 3rem 0 2.25rem 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__title {
    padding: 3rem 0 2.25rem 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.about__image {
  width: 100%;
  padding: 0 0 1rem 0;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .about__image {
    width: 80%;
    padding: 0px 0 2.25rem 3.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__image {
    width: 80%;
    padding: 0px 0 2.25rem 5rem;
  }
}
.about__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: AvenirDemi;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .about__quote {
    width: 80%;
    padding: 0px 0 1.25rem 3.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__quote {
    width: 56%;
    padding: 0px 0 1.25rem 5rem;
  }
}
.about__author {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: Avenir;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .about__author {
    width: 80%;
    padding: 0px 0 2.25rem 3.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__author {
    width: 56%;
    padding: 0px 0 1.25rem 5rem;
  }
}
.about__name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: AvenirDemi;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .about__name {
    width: 80%;
    padding: 0px 0 2.25rem 3.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__name {
    width: 56%;
    padding: 0px 0 1.25rem 5rem;
  }
}
@media screen and (min-width: 48rem) {
  .about__container {
    display: flex;
    gap: 1.2rem;
  }
}
.about__container--text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  padding: 0 0 1rem 0;
  margin: 0;
  font-family: AvenirNormal;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .about__container--text {
    width: 35.54%;
    padding: 0px 0 2.25rem 3.5rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__container--text {
    width: 36.2%;
    padding: 0px 0 1.25rem 5rem;
  }
}

.gallery {
  width: 100%;
  padding: 0 1rem;
  background-color: #fafafa;
}
@media screen and (min-width: 48rem) {
  .gallery {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery {
    padding: 0 3.9375rem;
  }
}
.gallery__title {
  padding: 1.5rem 0 1rem 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirDemi;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .gallery__title {
    padding: 3rem 0 2.25rem 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__title {
    padding: 3rem 0 2.25rem 0;
  }
}
.gallery__photos {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .gallery__photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.gallery__photos--item {
  padding: 0 0 1rem 0;
}
@media screen and (min-width: 48rem) {
  .gallery__photos--item {
    padding: 0 2.25rem 2.25rem 0;
    width: 28.6%;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__photos--item {
    padding: 0 2.25rem 2.25rem 0;
    width: 29.6%;
  }
}

.footer {
  background-color: #323232;
  padding: 1.5rem 1rem;
  width: 100%;
  color: #fafafa;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirNormal;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding: 3rem 2.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding: 3rem 3.9375rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__header {
    display: flex;
    align-items: center;
  }
}
.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirDemi;
  color: #fafafa;
  padding: 0 0 1rem 0;
  margin: 0rem;
}
@media screen and (min-width: 48rem) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 2.25rem;
  }
}
.footer__socials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 7.5rem;
  width: 30%;
}
@media screen and (min-width: 48rem) {
  .footer__socials {
    width: 17%;
    padding: 0 0 1.7rem 3rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__socials {
    width: 12%;
    padding: 0 0 1.7rem 6.2rem;
  }
}
.footer__social-icon img {
  height: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .footer__social-icon img {
    height: 1.5rem;
  }
}
.footer__header-img--tab {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__header-img--tab {
    display: flex;
    height: 1.25rem;
  }
}
@media screen and (min-width: 48rem) {
  .footer__header-img {
    padding: 0 0 1.5rem 14rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer__header-img {
    padding: 0 0 1.5rem 39.2rem;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .footer__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.7rem 0 0;
  }
}
@media screen and (min-width: 80rem) {
  .footer__content {
    padding: 0 29.7rem 0 0;
  }
}
.footer__card {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__card {
    padding-bottom: 2.25rem;
  }
}
.footer__card--agent {
  font-family: AvenirDemi;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__card--agent {
    padding-bottom: 2.25rem;
  }
}
.footer__card--agent-name {
  margin: 0;
}
.footer__card--agent-company {
  margin: 0;
}
.footer__card--location {
  font-family: AvenirNormal;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__card--location {
    padding-bottom: 2.25rem;
  }
}
.footer__card--location-address {
  margin: 0;
}
.footer__card--email {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__card--email {
    padding-bottom: 2.25rem;
  }
}
.footer__card--email-link {
  font-family: AvenirNormal;
  text-decoration: none;
  color: #fafafa;
}
.footer__logo-img {
  height: 1.25rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo-img {
    display: none;
  }
}
.footer__logo-img--mobile {
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 48rem) {
  .footer__logo-img--mobile {
    display: none;
  }
}
.footer__copyright {
  font-family: AvenirNormal;
  margin: 0;
}

.Conversation {
  padding: 0 1rem;
  width: 100%;
  font-family: AvenirNormal;
}
@media screen and (min-width: 48rem) {
  .Conversation {
    padding: 0 2.25rem;
    width: 100%;
  }
}
@media screen and (min-width: 80rem) {
  .Conversation {
    padding: 0 3.9375rem;
    width: 100%;
  }
}
.Conversation__title {
  padding: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  font-family: AvenirDemi;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .Conversation__title {
    padding: 3rem 0 2.25rem 0;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
.Conversation__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 48rem) {
  .Conversation__container {
    justify-content: center;
  }
}
@media screen and (min-width: 48rem) {
  .Conversation__profile {
    display: flex;
    width: 17%;
    justify-content: flex-end;
  }
}
.Conversation__profile-image {
  margin-top: 1.7rem;
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
@media screen and (min-width: 48rem) {
  .Conversation__profile-image {
    width: 48px;
    height: 48px;
  }
}
.Conversation__form {
  display: flex;
  flex-direction: column;
  width: 85%;
}
@media screen and (min-width: 48rem) {
  .Conversation__form {
    width: 73%;
    margin-right: 6rem;
  }
}
@media screen and (min-width: 80rem) {
  .Conversation__form {
    width: 45%;
    margin-right: 18rem;
  }
}
.Conversation__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Conversation__name-label {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin-bottom: 4px;
  color: #afafaf;
}
.Conversation__name-input {
  height: 2.25rem;
  border-radius: 4px;
  padding-left: 0.75rem;
  margin-bottom: 1rem;
  background-color: #fafafa;
}
@media screen and (min-width: 48rem) {
  .Conversation__name-input {
    height: 3rem;
    padding-left: 1rem;
  }
}
.Conversation__comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12px;
}
.Conversation__comment-label {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin-bottom: 4px;
  color: #afafaf;
}
.Conversation__comment-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  background-color: #fafafa;
  border-radius: 4px;
  height: 5.25rem;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  margin-bottom: 1rem;
  resize: none;
  color: #323232;
}
@media screen and (min-width: 48rem) {
  .Conversation__comment-text {
    padding: 1rem;
  }
}
.Conversation__name-input, .Conversation__comment-text {
  border: 1px solid #e1e1e1;
}
.Conversation__name-input:active, .Conversation__comment-text:active {
  border: 1px solid #000000;
}
.Conversation__name-input::-moz-placeholder, .Conversation__comment-text::-moz-placeholder {
  color: #323232;
}
.Conversation__name-input::placeholder, .Conversation__comment-text::placeholder {
  color: #323232;
}
.Conversation__button {
  display: flex;
}
@media screen and (min-width: 48rem) {
  .Conversation__button {
    height: 3.6rem;
    width: 100%;
    justify-content: flex-end;
  }
}
.Conversation__button-sub {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-top: 4px;
  height: 40px;
  border-radius: 4px;
  width: 100%;
  background-color: #323232;
  color: #ffffff;
  border: 2px solid #323232;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.Conversation__button-sub:hover {
  background-color: #000000;
  color: #ffffff;
}
@media screen and (min-width: 48rem) {
  .Conversation__button-sub {
    width: 33%;
    height: 3.2rem;
    min-width: 150px;
    padding: 8px 16px;
  }
}

.comment {
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 48rem) {
  .comment {
    width: 78.2%;
    margin-left: 4.5rem;
    padding: 3rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .comment {
    width: 49.9%;
    margin-left: 15.9rem;
  }
}
.comment__section {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 0 1rem 0;
  border-top: 0.5px solid #e1e1e1;
  border-bottom: 0.5px solid #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .comment__section {
    padding: 1.5rem 0 2.25rem 0;
  }
}
.comment__avartar {
  padding-right: 1rem;
}
.comment__avartar-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e1e1e1;
}
@media screen and (min-width: 48rem) {
  .comment__avartar-img {
    width: 48px;
    height: 48px;
  }
}
.comment__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.comment__info-name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  color: #000000;
  margin: 0;
}
.comment__info-date {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #afafaf;
  margin: 0;
}
.comment__usertext {
  padding-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .comment__usertext {
    padding-top: 0.5rem;
  }
}
.comment__usertext-post {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin: 0;
}
@media screen and (min-width: 48rem) {
  .comment__usertext-post {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}/*# sourceMappingURL=bio.css.map */